/* styles/ChatBubble.module.css */
* {
  font-size: 1rem;
}
.chatBubbleContainer {
  display: flex;
  align-items: center; /* 또는 flex-start */
  margin-bottom: 0.25rem;
  width: 100%;
}

.justifyEnd {
  justify-content: flex-end; /* 사용자 말풍선을 오른쪽으로 정렬 */
}

.justifyStart {
  justify-content: flex-start; /* 챗봇 말풍선을 왼쪽으로 정렬 (기본값) */
}

.bubble {
  padding: 0.6rem 0.8rem;
  font-size: 0.9rem;
  border-radius: 1.25rem;
  max-width: 80%;
  /* height: auto; 또는 height 속성 제거 */
  /* min-height: auto; 또는 min-height 속성 제거 */
  /* line-height: normal; 또는 적절한 값으로 조정 */
}

.userBubble {
  background-color: #e6e6e6;
  color: rgb(0, 0, 0);
  border-radius: 1.25rem;
  /* height: auto; 또는 height 속성 제거 */
  /* min-height: auto; 또는 min-height 속성 제거 */
}

.otherBubble {
  background-color: #ff964a;
  color: #1f2937;
  border-radius: 1.25rem;
  /* height: auto; 또는 height 속성 제거 */
  /* min-height: auto; 또는 min-height 속성 제거 */
}